/* 自定义textarea placeholder样式 */
textarea::placeholder {
  white-space: pre-line;
  opacity: 0.6;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: block;
  white-space: pre-wrap;
}